# This file determines who automatically gets requested for review when a PR touches specific files.

# Global default: For any file not explicitly mentioned, request review from the main owner
*       @Mostafa-SAID7

# Infrastructure & CI/CD: Require owner review for GitHub configurations and Actions
/.github/                  @Mostafa-SAID7
/marsa/package.json        @Mostafa-SAID7
/marsa/package-lock.json   @Mostafa-SAID7

# Design & Core UI: Ensure design reviews are done by the owner
/marsa/src/styles.css      @Mostafa-SAID7
/marsa/tailwind.config.js  @Mostafa-SAID7
